/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #222222;
    font-family: "Open Sans",Arial,sans-serif !important;
    font-size: 1.8em;
    line-height: 1.8em;
    /* Margin bottom by footer height with a little room to accomodate small screens */
    margin-bottom: 600px;
    scroll-behavior: smooth;
}

a {
    color: #0079b5;
}

h1 {
    margin-bottom: 40px;
    line-height: 70px;
    text-align: center;
    font-size: 2.4em;
    border-bottom: 1px solid #eee;
}

h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 1.7em;
}

h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

blockquote {
    color: #666666;
}

.slogan {
    font-style: italic;
    color: #777;
    font-size: 1.2em;
    margin: 80px 0px;
    text-align: center;
}

.slogan > footer {
    text-align: right;
}

.front-logo {
    margin: 20px 0px 100px 0px;
}

.front-block {
    padding: 100px 15px;
}

.front-block h2 {
    margin: 0px  0px 30px 0px;
}

.front-block-text {
    margin-bottom: 40px;
}

.front-block-text li {
    margin-bottom: 15px;
}

.front-block img {
    width: 90%;
    /* Center the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.front-block-dark {
    background-color: #f0f0f0;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2) inset;
}

.front-block-light {
}

.front-updates h2 {
    text-align: center;
}

.front-updates p {
    text-align: right;
}

.pagination > li > a {
    background-color: #0079b5;
}

.pagination > li > a:hover {
    background-color: #006495;
}

.footer {
    font-size: 0.9em;
    background-color: #dddddd;
    color: #333333;
    padding: 40px 0px;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 180px;
}

.footer img {
    width: 60%;
    /* Center the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

@media (min-width:1200px) {
    .container {
        width:970px;
    }
    .front-block {
        padding: 100px 100px;
    }
    .footer {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (min-width:767px) {
    body {
        margin-bottom: 400px;
    }
}


/* Navbar */
/*********************************************************************************/
.menu {
    border: none;
    margin-bottom: 50px;
    padding: 0px;
    position: relative;
    min-height: 80px;
    display: block;
    font-size: 0.9em;
}

.menu a {
    color: #222222;
}

.menu a:hover {
    text-decoration: none;
    color: #0079b5;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
}

.menu-list > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}
