/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height with a little room to accomodate small
     * screens */
    margin-bottom: 200px;
}

.footer {
    margin-top: 150px;
    padding-bottom: 30px;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 110px;
}

h1 {
    margin-bottom: 100px;
    font-size: 3.5em;
}

.banner {
    background-size: cover;
    padding: 70px 15px;
    margin-top: 0px;
    margin-bottom: 80px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #444444;
}
