/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #222222;
    font-family: "Open Sans",Arial,sans-serif !important;
    font-size: 1.8em;
    line-height: 1.8em;
    /* Margin bottom by footer height with a little room to accomodate small screens */
    margin-bottom: 350px;
    scroll-behavior: smooth;
}

a {
    color: #0079b5;
}

h1 {
    /*margin-top: 150px;*/
    margin-bottom: 40px;
    line-height: 70px;
    text-align: center;
    font-size: 2.4em;
    border-bottom: 1px solid #eee;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.7em;
}

h3 {
    margin-bottom: 20px;
    font-size: 1.2em;
}

blockquote {
    color: #666666;
}

.footer {
    font-size: 0.9em;
    background-color: #dddddd;
    color: #333333;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 90px;
}

@media (min-width:1200px) {
    .container {
        width:970px;
    }
}

/* To prevent Academicons from messing with the spacing */
.fa-li {
    top: 0 !important;
}


/* Navbar */
/*********************************************************************************/
.menu {
    border: none;
    margin-bottom: 50px;
    padding: 0px;
    position: relative;
    min-height: 80px;
    display: block;
    font-size: 0.9em;
}

.menu a {
    color: #222222;
}

.menu a:hover {
    text-decoration: none;
    color: #0079b5;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
}

.menu-list > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}
